ion-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  ion-card-content {
    margin-top: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    margin-top: 10px;
    list-style: disc;
    padding-left: 20px;
  }
  