<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Otra Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/otra-informacio/herramientas">
      Herramientas
    </ion-item>
    <ion-item routerLink="/otra-informacio/ides">
      IDEs
    </ion-item>
    <ion-item routerLink="/otra-informacio/tecnologias">
      Tecnologías
    </ion-item>
    <ion-item routerLink="/otra-informacio/otros-conocimientos">
      Otros Conocimientos
    </ion-item>
  </ion-list>
</ion-content>
