<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/datos-personale">
      Datos Personales
    </ion-item>
    <ion-item routerLink="/experiencia-educativas">
      Experiencias Educativas
    </ion-item>
    <ion-item routerLink="/experiencia-laboral">
      Experiencias Laborales
    </ion-item>
    <ion-item routerLink="/voluntariado">
      Voluntariado y Acciones Sociales
    </ion-item>
    <ion-item routerLink="/otra-informacion">
      Otra Información
    </ion-item>
  </ion-list>
</ion-content>
